@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Nanum Myeongjo", serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #3e5b72;
    color: aliceblue;
}

.heade{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem  9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 3rem;
    color: #B0C5D6;
    font-weight: 800;
    cursor: pointer;
    transition:  0.5s ease;
}

.logo.hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: aliceblue;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #ffffff;
    border-bottom: 3px solid B0C5D6;
}

@media(max-widt:995px){
nav{
    position: absolute;
    top: 100%;
    right:0;
    width: 40%;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffff;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #1d2f3d;
    border-top: 0.1rem solid rgba(0,0,0,1);
}

nav.active{
    display: block;
}

nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem;
}
}
