@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Nanum Myeongjo", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url(../img/gato.gif) no-repeat;
    background-size:cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}