*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.gato {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: gato-animaton 5s infinite linear;
}

.totoro{
    width: 150px;
    position: absolute;
    bottom: 0;
}

@keyframes gato-animaton {
    from {
        right: -80px;
    }

    to {
        right: 100%;
       }
}